<aside class="mat-sidenav">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <i class="material-symbols-outlined">dashboard_customize</i>
    </div>
    <h1 class="sidebar-title">ENTERPRISE</h1>
  </div>

  <nav class="mat-nav-list">
    @for(section of sections(); track section.id){
      <div class="mat-list-subheader">{{ section.name }}</div>
      @for(module of section.modules; track module.id){
        <a class="mat-list-item" routerLink="/dashboard/{{ module.slug }}" routerLinkActive="active">
          <i class="material-symbols-outlined">{{ module.icon }}</i>
          {{ module.name }}
        </a>
      }
    }
  </nav>

  <div class="sidebar-footer">
    <a class="mat-list-item" routerLink="/settings" style="padding: 12px 8px; margin-bottom: 8px">
      <i class="material-symbols-outlined">settings</i>
      Settings
    </a>
  </div>
</aside>
