.roles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons-row {
  display: flex;
  gap: 12px;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .buttons-row {
    gap: 16px;
    justify-content: space-between;
  }
}

.save-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
