<core-card-structure
    title="Usuarios"
    description="Usuarios registrados en el sistema"
>
  <core-data-table
    [columns]="columns"
    [data]="data()"
    [serverSide]="true"
    [total]="total()"
    [showAllOption]="true"
    sortActive="updated_at"
    sortDirection="desc"
    [showCreate]="true"
    createLabel="Crear usuario"
    (refresh)="onRefresh()"
    (create)="onCreate()"
    (pageChange)="onPageChange($event)"
    (filterChange)="onFilterChange($event)"
    (sortChange)="onSortChange($event)">
  </core-data-table>
</core-card-structure>
